---
const { title } = Astro.props;
import Navigation from "../components/Navigation.astro";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />

    <!-- SEO -->
    <meta name="description" content="Discover events, tours, and hidden gems in Copenhagen with LOCAL CRTV." />
    <title>{title} | LOCAL CRTV</title>
  </head>
  <body>
    <Navigation />
    <slot />
  </body>
</html>
