---

---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro</title>
  </head>
  <header></header>
  <body>
    <h1>EVENTS IN COPENHAGEN</h1>

    <video src="/video.mp4" autoplay muted loop playsinline></video>

    <h2>WHAT CAN'T I MISS IN COPENHAGEN AS A FIRST-TIMER?</h2>

    <img src="/christiania.webp" alt="christiania" />

    <p>LOCAL CRTV - Discover Copenhagen's free town - colorful, creative, unforgettable.</p>

    <img src="/BMO.webp" alt="BMO" />

    <p>LOCAL CRTV - Taste, space and the joy of being together in copenhagen</p>

    <img src="/dak.webp" alt="dak" />

    <p>LOCAL CRTV - DAC: Where buildings and design tell their stories</p>

    <p>FEATURED ARTICLES</p>

    <h3>UNMISSABLE THINGS TO DO IN COPENHAGEN</h3>

    <img src="/autopol.webp" alt="autopol" />

    <p>LOCAL CRTV - AUTOPOL - outside bar in Nordvest</p>

    <img src="/ungdom.webp" alt="ungdom" />

    <p>LOCAL CRTV - Visit “Ungdomsøen” - an island full og creativity</p>

    <img src="/smk.webp" alt="smk" />
  </body>

  <footer>
    <p>LOCAL CRTV - SMK offers a look at traditional danish paintings & more</p>
    <p>NEWSLETTER+++ NEWSLETTER+++ NEWSLETTER+++</p>
    <h3>DESIGN NEWS TO YOUR INBOX</h3>
    <p>(indsæt mail og "sign up" knap)</p>
  </footer>


</html>
