---
import "../style/style.css";
import Card from "../components/Card.astro";
import PageLayout from "../layouts.astro/PageLayout.astro";
import Footer from "../components/Footer.astro";
---

<PageLayout title="index">
  <header></header>
  <body>
    <section>
      <h1>EVENTS IN COPENHAGEN</h1>
      <div class="grid_1-2">
        <Card variant="featured" img="video.mp4" tag="LOCAL CRTV - " text="WHAT CAN'T I MISS IN COPENHAGEN AS A FIRST-TIMER?" />
        <div class="flex_one_column rev_order">
          <Card img="/christiania.webp" tag="LOCAL CRTV -" text="Discover Copenhagen's free town - colorful, creative, unforgettable." link="/tourguide" />
          <Card img="/BMO.webp" tag="LOCAL CRTV -" text="Taste, space and the joy of being together in copenhagen" link="/tourguide" />
          <Card img="/dak.webp" tag="LOCAL CRTV -" text="DAC: Where buildings and design tell their stories" link="/tourguide" />
        </div>
      </div>
    </section>

    <section class="tre_billeder">
      <p class="tekst_billeder">FEATURED ARTICLES</p>
      <h3 class="tekst_billeder">UNMISSABLE THINGS TO DO IN COPENHAGEN</h3>
      <div class="grid_1-1-1">
        <Card variant="yellowText" img="/autopol.webp" tag="LOCAL CRTV - " text="AUTOPOL - outside bar in Nordvest" />
        <Card variant="yellowText" img="/ungdom.webp" tag="LOCAL CRTV - " text="Visit “Ungdomsøen” - an island full og creativity" />
        <Card variant="yellowText" img="/smk.webp" tag="LOCAL CRTV - " text="SMK offers a look at traditional danish paintings & more" />
      </div>
    </section>
  </body>
  <Footer />
</PageLayout>
