* {
  box-sizing: border-box;
  margin: 0.3rem;
  padding: 0;
}
img {
  width: 100%;
  height: auto;
  display: block;
}

body {
  background-color: rgba(246, 230, 156);
}
p {
  color: rgb(0, 59, 115);
  font-family: "Barlow", sans-serif;
  font-weight: 300;
}
h1 {
  font-family: "Archivo Black", sans-serif;
  color: rgb(0, 59, 115);
}
.tag {
  color: rgb(0, 59, 115);
  font-weight: 800;
}

.grid_1-2 {
  display: grid;
  grid-template-columns: 1fr 2fr;
  margin-bottom: 4rem;
}

.grid_1-1-1 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  background-color: rgb(75, 46, 43);
}
.flex_one_column {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
