<footer>
  <p>NEWSLETTER+++ NEWSLETTER+++ NEWSLETTER+++ NEWSLETTER+++ NEWSLETTER+++ NEWSLETTER +++NEWSLETTER+++ NEWSLETTER+++ NEWSLETTER+++ NEWSLETTER+++ NEWSLETTER+++ NEWSLETTER+++</p>
  <h3>DESIGN NEWS TO YOUR INBOX</h3>
  <p>(indsæt mail og "sign up" knap)</p>
</footer>
